nav {
	background-color: #ddd;
	margin-top: -20px;
}

.acme-navbar-text{
  color: white;
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

nav ul.nav {
	// width: 49%;
}
nav ul.nav li {
	display: inline-block;
}
